[data-md-color-scheme="slate"] {
    --md-primary-fg-color:        #023047;
    --md-primary-fg-color--light: #8ecae6;
    --md-primary-fg-color--dark:  #023047;
    --md-accent-fg-color:          #8ecae6;
    --md-accent-fg-color--transparent:   #8ecae6;
  }
[data-md-color-scheme="default"] {
  --md-primary-fg-color:        #023047;
  --md-primary-fg-color--light: #8ecae6;
  --md-primary-fg-color--dark:  #023047;
  --md-accent-fg-color:          #8ecae6;
  --md-accent-fg-color--transparent:   #8ecae6;
}